h1,
h2 {
    font-family: 'Papyrus';
    color: purple;
}

a {
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    background-color: gray;
    padding: 16px;
    margin: 0;
}

li:hover {
    background-color: #AAA;
}

footer {
    background-color: #DDD;
    color: #555;
    padding: 16px;
    text-align: center;
}
